* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Fredoka One", cursive;
}

#root {
  position: relative;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

[class^=btn-], a {
  cursor: pointer;
}

.btn-courses, .btn-search-courses, .btn-apply {
  text-align: center;
  color: #FFFFFF;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #E9D758;
  width: 220px;
  height: 60px;
  line-height: 60px;
}
.btn-courses:hover, .btn-search-courses:hover, .btn-apply:hover {
  color: #20AD96;
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
}
header nav {
  background-color: #DA5F60E6;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  align-items: center;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}
header nav .logo img {
  width: 270px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 20px;
}
header nav ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}
header nav ul li:hover {
  color: #E9D758;
}
header nav ul li:hover .menu-window {
  display: flex;
  flex-direction: column;
}
header nav ul li i.fa-caret-down {
  padding-left: 5px;
  font-size: 12px;
}
header nav ul li .menu-window {
  display: none;
  background-color: #F7F8FA;
  position: absolute;
  border-radius: 10px;
}
header nav ul li .menu-window ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  white-space: nowrap;
}
header nav ul li .menu-window ul li {
  width: 100%;
  font-size: 15px;
  display: inline;
  list-style: none;
  padding: 15px;
}
header nav ul li .menu-window ul li a {
  color: #5c5e6c;
  text-decoration: none;
}
header nav ul li .menu-window ul li a:hover {
  color: #20AD96;
  background-color: #FFFFFF;
}
header .jumbo {
  background-color: #DA5F60E6;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .jumbo .container {
  text-align: center;
}
header .jumbo .container .titolo h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
header .jumbo .container .sottotitolo {
  width: 50%;
}
header .jumbo .container .sottotitolo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  margin: 20px 0;
}
header .jumbo .container .bottoni {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header .jumbo .container .bottoni [class^=btn-] {
  text-transform: none;
}
header .jumbo .container .bottoni .btn-apply {
  margin-left: 40px;
  background-color: #FFFFFF;
  color: #20AD96;
}
header .jumbo .container .bottoni .btn-apply:hover {
  background-color: #E9D758;
  color: #FFFFFF;
}
header .wave {
  font-size: 0;
}
header .wave img {
  width: 100%;
  background-color: #DA5F60E6;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 120px;
  color: #FFFFFF;
  background-color: #E9D758;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 15px #454545;
  top: 50%;
  transform: translate(0, -50%);
}
aside:hover {
  width: 50px;
}

main {
  background-color: #FAFAFA;
}

#description {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/img/home-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#description .container .row {
  padding: 64px 0;
}
#description .container .row .left img {
  width: 60px;
}
#description .container .row .left h1 {
  font-weight: 400;
  font-size: 48px;
}
#description .container .row .left p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 40px 0;
}
#description .container .row .left .btn-courses {
  text-transform: none;
}
#description .container .row .right img {
  width: 500px;
}

#faculties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#faculties .row h1 {
  font-size: 48px;
}
#faculties .row.prima {
  display: flex;
  flex-direction: column;
}
#faculties .row.prima p {
  text-align: center;
  width: 50%;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
}
#faculties .row.seconda {
  background-color: #FFFFFF;
  margin-top: 50px;
}
#faculties .row.seconda .fac-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  width: 240px;
  height: 200px;
  position: relative;
}
#faculties .row.seconda .fac-card img {
  height: 80px;
}
#faculties .row.seconda .fac-card p {
  color: #20AD96;
  margin-top: 20px;
}
#faculties .row.seconda .fac-card .triangle {
  display: none;
}
#faculties .row.seconda .fac-card.active {
  background-color: #20AD96;
}
#faculties .row.seconda .fac-card.active p {
  color: #FFFFFF;
}
#faculties .row.seconda .fac-card.active img {
  filter: grayscale(1) brightness(0) invert(1);
}
#faculties .row.seconda .fac-card.active .triangle {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #20AD96;
}
#faculties .row.terza {
  padding: 50px;
}
#faculties .row.terza .left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#faculties .row.terza .left img {
  width: 363px;
}
#faculties .row.terza .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#faculties .row.terza .right h1 {
  font-size: 38px;
  color: #434959;
}
#faculties .row.terza .right p {
  width: 80%;
  color: #8B8B8A;
  font-family: "Source Sans Pro", sans-serif;
  margin: 30px 0;
}
#faculties .row.terza .right .btn-readmore {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 168px;
  height: 66px;
  background-color: #20AD96;
  color: #FFFFFF;
  border-radius: 33px;
}
#faculties #wave-img {
  font-size: 0;
  width: 100%;
}

#timeline-events {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  background-color: #20AD96;
}
#timeline-events .container {
  color: #FFFFFF;
}
#timeline-events .container .university-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .university-year .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .university-year .title img {
  width: 70px;
  filter: brightness(30%);
}
#timeline-events .container .university-year .title h1 {
  font-size: 48px;
  font-weight: 400;
}
#timeline-events .container .university-year .timeline {
  padding: 100px 0;
  text-align: center;
}
#timeline-events .container .university-year .timeline .timeline-up {
  display: flex;
  flex-direction: row;
}
#timeline-events .container .university-year .timeline .timeline-up p:first-child {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 18px;
}
#timeline-events .container .university-year .timeline .timeline-up p:last-child {
  font-family: "Source Sans Pro", sans-serif;
}
#timeline-events .container .university-year .timeline .timeline-up .left {
  display: flex;
  flex-direction: column;
  margin-left: 358px;
}
#timeline-events .container .university-year .timeline .timeline-up .right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
#timeline-events .container .university-year .timeline .bar img {
  margin: 20px 0;
}
#timeline-events .container .university-year .timeline .timeline-down {
  display: flex;
  flex-direction: row;
}
#timeline-events .container .university-year .timeline .timeline-down p:first-child {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 18px;
}
#timeline-events .container .university-year .timeline .timeline-down p:last-child {
  font-family: "Source Sans Pro", sans-serif;
}
#timeline-events .container .university-year .timeline .timeline-down .left {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
#timeline-events .container .university-year .timeline .timeline-down .right {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
#timeline-events .container .upcoming-events {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .upcoming-events .title {
  text-align: center;
}
#timeline-events .container .upcoming-events .title img {
  width: 60px;
  filter: brightness(30%);
}
#timeline-events .container .upcoming-events .title h1 {
  font-size: 48px;
  font-weight: 400;
}
#timeline-events .container .upcoming-events .row.upcoming-cards {
  margin-top: 50px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card {
  text-align: center;
  margin: 0 15px;
  width: calc(100% / 3);
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #434959;
  position: relative;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card h2 {
  font-weight: 400;
  font-size: 28px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px 0;
  color: #8B8B8A;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card p i {
  font-size: 14px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #20AD96;
  border-radius: 20px;
  color: #FFFFFF;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 126px;
  height: 40px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card i {
  margin-right: 3px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card:hover {
  background-color: #E9D758;
}
#timeline-events .container .upcoming-events .btn-courses {
  margin-top: 70px;
  text-transform: none;
}
#timeline-events .left, #timeline-events .right {
  width: 30%;
}

#wave-under {
  margin-top: -1px;
  width: 100%;
}
