* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Fredoka One", cursive;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

[class^=btn-], a {
  cursor: pointer;
}

.btn-courses, .btn-search-courses, .btn-apply {
  text-align: center;
  color: #FFFFFF;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #E9D758;
  width: 220px;
  height: 60px;
  line-height: 60px;
}
.btn-courses:hover, .btn-search-courses:hover, .btn-apply:hover {
  color: #20AD96;
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
}
header nav {
  background-color: #20AD96E6;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  align-items: center;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}
header nav .logo img {
  width: 270px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 20px;
}
header nav ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}
header nav ul li:hover {
  color: #E9D758;
}
header nav ul li:hover .menu-window {
  display: flex;
  flex-direction: column;
}
header nav ul li i.fa-caret-down {
  padding-left: 5px;
  font-size: 12px;
}
header nav ul li .menu-window {
  display: none;
  background-color: #F7F8FA;
  position: absolute;
  z-index: 50;
  border-radius: 10px;
  -webkit-animation-name: menu-wind;
          animation-name: menu-wind;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header nav ul li .menu-window ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  white-space: nowrap;
}
header nav ul li .menu-window ul li {
  width: 100%;
  font-size: 15px;
  display: inline;
  list-style: none;
  padding: 15px;
}
header nav ul li .menu-window ul li a {
  color: #5c5e6c;
  text-decoration: none;
}
header nav ul li .menu-window ul li a:hover {
  color: #20AD96;
  background-color: #FFFFFF;
}
@-webkit-keyframes menu-wind {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes menu-wind {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 0;
  }
}
header .jumbo {
  background-color: #20AD96E6;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
header .jumbo .container {
  text-align: center;
  -webkit-animation-name: jumbo;
          animation-name: jumbo;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
header .jumbo .container .titolo h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
header .jumbo .container .sottotitolo {
  width: 50%;
}
header .jumbo .container .sottotitolo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  margin: 20px 0;
}
header .jumbo .container .bottoni {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header .jumbo .container .bottoni [class^=btn-] {
  text-transform: none;
}
header .jumbo .container .bottoni .btn-apply {
  margin-left: 40px;
  background-color: #FFFFFF;
  color: #20AD96;
}
header .jumbo .container .bottoni .btn-apply:hover {
  background-color: #E9D758;
  color: #FFFFFF;
}
@-webkit-keyframes jumbo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes jumbo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
header .wave {
  font-size: 0;
}
header .wave img {
  width: 100%;
  background-color: #20AD96E6;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 120px;
  color: #FFFFFF;
  background-color: #E9D758;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 0;
  top: 50%;
  transform: translate(0, -50%);
}
aside a:hover {
  color: #20AD96;
}
aside:hover {
  -webkit-animation-name: aside;
          animation-name: aside;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes aside {
  from {
    width: 40px;
  }
  to {
    width: 55px;
  }
}

@keyframes aside {
  from {
    width: 40px;
  }
  to {
    width: 55px;
  }
}
.return-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #E9D758;
  color: #FFFFFF;
  right: 50px;
  bottom: 50px;
  font-size: 30px;
  border: 1px solid #E9D758;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 0;
}
.return-top:hover {
  background-color: #20AD96;
  border: 1px solid #FFFFFF;
}

#description {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("./../../assets/img/home-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#description .container .row {
  padding: 64px 0;
}
#description .container .row .left img {
  width: 60px;
}
#description .container .row .left h1 {
  font-weight: 400;
  font-size: 48px;
}
#description .container .row .left p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin: 40px 0;
}
#description .container .row .left .btn-courses {
  text-transform: none;
}
#description .container .row .right img {
  width: 500px;
}

#faculties {
  margin-top: 100px;
}
#faculties .row h1 {
  font-size: 48px;
}
#faculties .row.prima {
  display: flex;
  flex-direction: column;
}
#faculties .row.prima p {
  text-align: center;
  width: 50%;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
}
#faculties .row.seconda {
  background-color: #FFFFFF;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 20px 0;
}
#faculties .row.seconda .fac-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #EAEAEA;
  width: 240px;
  height: 200px;
  position: relative;
}
#faculties .row.seconda .fac-card img {
  height: 80px;
}
#faculties .row.seconda .fac-card p {
  color: #20AD96;
  margin-top: 20px;
}
#faculties .row.seconda .fac-card .triangle {
  display: none;
}
#faculties .row.seconda .fac-card.active {
  background-color: #20AD96;
}
#faculties .row.seconda .fac-card.active p {
  color: #FFFFFF;
}
#faculties .row.seconda .fac-card.active img {
  filter: grayscale(1) brightness(0) invert(1);
}
#faculties .row.seconda .fac-card.active .triangle {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: 100%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #20AD96;
}
#faculties .row.terza {
  padding: 100px 0;
}
#faculties .row.terza .left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#faculties .row.terza .left img {
  width: 363px;
}
#faculties .row.terza .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#faculties .row.terza .right h1 {
  font-size: 38px;
  color: #434959;
}
#faculties .row.terza .right p {
  width: 80%;
  color: #8B8B8A;
  font-family: "Source Sans Pro", sans-serif;
  margin: 30px 0;
}
#faculties .row.terza .right .btn-readmore {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 168px;
  height: 66px;
  background-color: #20AD96;
  color: #FFFFFF;
  border-radius: 33px;
}
#faculties .row.terza .right .btn-readmore:hover {
  background-color: #E9D758;
}
#faculties #wave-img {
  font-size: 0;
  width: 100%;
}

#timeline-events {
  padding: 100px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -1px;
  background-color: #20AD96;
}
#timeline-events .container {
  color: #FFFFFF;
}
#timeline-events .container .university-year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .university-year .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .university-year .title img {
  width: 70px;
  filter: brightness(30%);
}
#timeline-events .container .university-year .title h1 {
  font-size: 48px;
  font-weight: 400;
}
#timeline-events .container .university-year .timeline {
  padding: 100px 0;
  text-align: center;
}
#timeline-events .container .university-year .timeline .timeline-up {
  display: flex;
  flex-direction: row;
}
#timeline-events .container .university-year .timeline .timeline-up p:first-child {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 18px;
}
#timeline-events .container .university-year .timeline .timeline-up p:last-child {
  font-family: "Source Sans Pro", sans-serif;
}
#timeline-events .container .university-year .timeline .timeline-up .left {
  display: flex;
  flex-direction: column;
  margin-left: 358px;
}
#timeline-events .container .university-year .timeline .timeline-up .right {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
#timeline-events .container .university-year .timeline .bar img {
  margin: 20px 0;
}
#timeline-events .container .university-year .timeline .timeline-down {
  display: flex;
  flex-direction: row;
}
#timeline-events .container .university-year .timeline .timeline-down p:first-child {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 18px;
}
#timeline-events .container .university-year .timeline .timeline-down p:last-child {
  font-family: "Source Sans Pro", sans-serif;
}
#timeline-events .container .university-year .timeline .timeline-down .left {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
#timeline-events .container .university-year .timeline .timeline-down .right {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
#timeline-events .container .upcoming-events {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeline-events .container .upcoming-events .title {
  text-align: center;
}
#timeline-events .container .upcoming-events .title img {
  width: 60px;
  filter: brightness(30%);
}
#timeline-events .container .upcoming-events .title h1 {
  font-size: 48px;
  font-weight: 400;
}
#timeline-events .container .upcoming-events .row.upcoming-cards {
  margin-top: 50px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card {
  text-align: center;
  margin: 0 15px;
  width: calc(100% / 3);
  padding: 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
  color: #434959;
  position: relative;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card h2 {
  font-weight: 400;
  font-size: 28px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 15px 0;
  color: #8B8B8A;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card p i {
  font-size: 14px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #20AD96;
  border-radius: 20px;
  color: #FFFFFF;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 126px;
  height: 40px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card i {
  margin-right: 3px;
}
#timeline-events .container .upcoming-events .row.upcoming-cards .card .btn-card:hover {
  background-color: #E9D758;
}
#timeline-events .container .upcoming-events .btn-courses {
  margin-top: 70px;
  text-transform: none;
}
#timeline-events .left, #timeline-events .right {
  width: 30%;
}

#wave-under {
  margin-top: -1px;
  width: 100%;
}

#latest-courses .row.latest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
  width: 100%;
}
#latest-courses .row.latest h1 {
  font-size: 48px;
  font-weight: 400;
  padding: 50px 0;
}
#latest-courses .row.latest .courses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#latest-courses .row.latest .courses .card-course {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 45px;
  width: calc(100% / 4);
  background-color: #FFFFFF;
  margin: 0 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;
}
#latest-courses .row.latest .courses .card-course img {
  height: 70px;
  margin-bottom: 25px;
}
#latest-courses .row.latest .courses .card-course h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}
#latest-courses .row.latest .courses .card-course p {
  font-size: 14px;
  padding: 2px 0;
  font-family: "Source Sans Pro", sans-serif;
}
#latest-courses .row.latest .courses .card-course p span {
  font-weight: bold;
}
#latest-courses .row.latest .courses .card-course .btn-vcourse {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: #20AD96;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
#latest-courses .row.latest .courses .card-course .btn-vcourse:hover {
  color: #20AD96;
  background-color: #FFFFFF;
  border: 2px solid #20AD96;
}

#info {
  padding: 100px 0;
}
#info h1 {
  margin-top: 30px;
  font-size: 48px;
  font-weight: 400;
}
#info p {
  margin-top: 60px;
  font-family: "Source Sans Pro", sans-serif;
  color: #434959;
}
#info img {
  width: 500px;
}
#info .icon {
  width: 60px;
}
#info [class^=btn-] {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 66px;
  border-radius: 33px;
  color: #FFFFFF;
  background-color: #20AD96;
}
#info [class^=btn-]:hover {
  color: #20AD96;
  background-color: #FFFFFF;
  border: 2px solid #20AD96;
}
#info .container .row.exam {
  justify-content: space-between;
}
#info .container .row.exam .left {
  width: 40%;
}
#info .container .row.fees {
  justify-content: space-between;
}
#info .container .row.fees .right {
  width: 40%;
}

#newsletter {
  background-color: #20AD96;
  padding: 60px 0;
}
#newsletter .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#newsletter .container h1 {
  font-size: 35px;
  font-weight: 400;
  color: #FFFFFF;
}
#newsletter .container input {
  width: 470px;
  height: 70px;
  border-radius: 35px;
  padding: 25px;
  outline: none;
  font-size: 20px;
}
#newsletter .container button {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #FFFFFF;
  right: 0;
  background-color: #E9D758;
  cursor: pointer;
}
#newsletter .container button:hover {
  background-color: #FFFFFF;
  color: #20AD96;
  border: 2px color #20AD96;
}
#newsletter .container button i {
  font-size: 20px;
}

#partners {
  padding-bottom: 60px;
}
#partners .container h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 60px;
  margin-top: 60px;
}
#partners .container p {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  width: 40%;
}
#partners .container .partners {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
#partners .container .partners img {
  height: 48px;
  opacity: 0.3;
}
#partners .container .partners img:hover {
  opacity: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #20AD96;
  color: #FFFFFF;
  padding: 40px 0;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer .container .row.footer {
  width: 100%;
}
footer .container .row.footer .column {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
footer .container .row.footer .column li {
  list-style: none;
}
footer .container .row.footer .column img {
  width: 270px;
}
footer .container .row.footer .column p {
  font-family: "Source Sans Pro", sans-serif;
  margin: 30px 0;
  width: 90%;
}
footer .container .row.footer .column.eins {
  width: 30%;
}
footer .container .row.footer .column.eins ul {
  display: flex;
  flex-direction: row;
}
footer .container .row.footer .column.eins li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  font-size: 18px;
  height: 50px;
  border-radius: 50%;
  color: #FFFFFF;
  border: 2px solid #E9D758;
  margin: 0 5px;
  cursor: pointer;
}
footer .container .row.footer .column.eins li:hover {
  background-color: #E9D758;
}
footer .container .row.footer .column.zwei {
  width: 15%;
}
footer .container .row.footer .column.zwei li {
  margin: 7px 0;
  font-size: 16px;
}
footer .container .row.footer .column.zwei li:first-child {
  font-size: 20px;
  margin-bottom: 30px;
}
footer .container .row.footer .column.zwei a {
  font-family: "Source Sans Pro", sans-serif;
}
footer .container .row.footer .column.zwei a:hover {
  color: #E9D758;
}
footer .container .row.footer .column.drei {
  width: 15%;
}
footer .container .row.footer .column.drei li {
  margin: 7px 0;
  font-size: 16px;
}
footer .container .row.footer .column.drei li:first-child {
  font-size: 20px;
  margin-bottom: 30px;
}
footer .container .row.footer .column.drei a {
  font-family: "Source Sans Pro", sans-serif;
}
footer .container .row.footer .column.vier {
  width: 30%;
  position: relative;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .container .row.footer .column.vier input {
  width: 370px;
  height: 70px;
  border-radius: 35px;
  padding: 25px;
}
footer .container .row.footer .column.vier button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #E9D758;
  color: #FFFFFF;
  border-radius: 50%;
  right: 0;
  font-size: 20px;
}
footer .container .row.footer .column.vier h3 {
  margin: 30px 0;
  font-weight: 400;
}
footer .container .row.footer .column.vier ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}
footer .container .row.footer .column.vier li {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 32px;
  border: 1px solid #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  padding: 6px 15px;
  margin: 5px 5px;
  border-radius: 16px;
  cursor: pointer;
}
footer .container .row.footer .column.vier li:hover {
  background-color: #E9D758;
  border: 1px solid #E9D758;
}
footer .container .row.footer .column.vier p {
  color: #E9D758;
  text-align: right;
}
