* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Fredoka One", cursive;
}

#root {
  position: relative;
}

.container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

[class^=btn-], a {
  cursor: pointer;
}

.btn-courses, .btn-search-courses, .btn-apply {
  text-align: center;
  color: #FFFFFF;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #E9D758;
  width: 220px;
  height: 60px;
  line-height: 60px;
}
.btn-courses:hover, .btn-search-courses:hover, .btn-apply:hover {
  color: #E56768;
  background-color: #FFFFFF;
}

header {
  display: flex;
  flex-direction: column;
}
header nav {
  background-color: #DA5F60E6;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  align-items: center;
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
}
header nav .logo img {
  width: 270px;
}
header nav ul {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: 20px;
}
header nav ul li {
  list-style: none;
  margin: 0 20px;
  position: relative;
  cursor: pointer;
}
header nav ul li:hover {
  color: #E9D758;
}
header nav ul li:hover .menu-window {
  display: flex;
  flex-direction: column;
}
header nav ul li i.fa-caret-down {
  padding-left: 5px;
  font-size: 12px;
}
header nav ul li .menu-window {
  display: none;
  background-color: #F7F8FA;
  position: absolute;
  border-radius: 10px;
}
header nav ul li .menu-window ul {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  white-space: nowrap;
}
header nav ul li .menu-window ul li {
  width: 100%;
  font-size: 15px;
  display: inline;
  list-style: none;
  padding: 15px;
}
header nav ul li .menu-window ul li a {
  color: #5c5e6c;
  text-decoration: none;
}
header nav ul li .menu-window ul li a:hover {
  color: #E56768;
  background-color: #FFFFFF;
}
header .jumbo {
  background-color: #DA5F60E6;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .jumbo .container {
  text-align: center;
}
header .jumbo .container .titolo h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
header .jumbo .container .sottotitolo {
  width: 50%;
}
header .jumbo .container .sottotitolo p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
  margin: 20px 0;
}
header .jumbo .container .bottoni {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
header .jumbo .container .bottoni [class^=btn-] {
  text-transform: none;
}
header .jumbo .container .bottoni .btn-apply {
  margin-left: 40px;
  background-color: #FFFFFF;
  color: #E56768;
}
header .jumbo .container .bottoni .btn-apply:hover {
  background-color: #E9D758;
  color: #FFFFFF;
}
header .wave {
  font-size: 0;
}
header .wave img {
  background-color: #DA5F60E6;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 120px;
  color: #FFFFFF;
  background-color: #E9D758;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 15px #454545;
  top: 50%;
  transform: translate(0, -50%);
}
aside:hover {
  width: 50px;
}
