//azzermento
* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
//font default
body {
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
}
//links style senza sottolineatura
a {
  text-decoration: none;
  color: inherit;
}
#root {
  position: relative;
}
//flex in colonna a tutte le sezioni
section {
  @include column-flex;
  @include flex-center;
}
//larghezza container per le sezioni
.container {
  width: 70%;
  @include column-flex;
  @include flex-center;
}
//row
.row {
  @include row-flex;
  @include flex-center;
}
//cursore per i bottoni
[class^="btn-"], a {
  cursor: pointer;
}
[class^="btn-"], button  {
  transition: all;
  transition-duration: 0.7s;
  transition-timing-function: linear;
  outline: none;
}

//bottoni
.btn-courses, .btn-search-courses, .btn-apply {
  text-align: center;
  color: $txt-white;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: $bg-btn;
  width: 220px;
  height: 60px;
  line-height: 60px;
  &:hover {
    color: $txt-red;
    background-color: $bg-white;
  }
}
button  {
  cursor: pointer;
}