* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Fredoka One', cursive;
}
#root {
  position: relative;
}
.container {
  width: 70%;
  @include column-flex;
  @include flex-center;
}
.row {
  @include row-flex;
  @include flex-center;
}
[class^="btn-"], a {
  cursor: pointer;
}
.btn-courses, .btn-search-courses, .btn-apply {
  text-align: center;
  color: $txt-white;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: $bg-btn;
  width: 220px;
  height: 60px;
  line-height: 60px;
  &:hover {
    color: $txt-red;
    background-color: $bg-white;
  }
}
