aside {
  @include column-flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  position: fixed;
  z-index: 100;
  width: 40px;
  height: 120px;
  color: $txt-white;
  background-color: $bg-btn;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 15px $bg-dgray;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    width: 50px;
  }
}
main {
  //background-color: $bg-dwhite;
}
#description {
  margin-top: 20px;
  @include row-flex;
  @include flex-center;
  background-image: url("./../../assets/img/home-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    .row {
      padding: 64px 0;
      .left {
        img {
          width: 60px;
        }
        h1 {
          font-weight: 400;
          font-size: 48px;
        }
        p {
          @include font-secondary;
          font-size: 16px;
          margin: 40px 0;
        }
        .btn-courses {
          text-transform: none;
        }
      }
      .right {
        img {
          width: 500px;
        }
      }
    }
  }
}
#faculties {
  .row  {

    h1 {
      font-size: 48px;
    }
    &.prima {
      @include column-flex;

      p {
        text-align: center;
        width: 50%;
        @include font-secondary;
        margin-top: 20px;
      }

    }
    &.seconda {
      background-color: $bg-white;
      margin-top: 50px;
      .fac-card {
        @include column-flex;
        @include flex-center;
        border: 1px solid $card-border;
        width: 240px;
        height: 200px;
        position: relative;
        img {
          height: 80px;
        }
        p {
          color: $txt-red;
          margin-top: 20px;
        }
        .triangle {
          display: none;
        }
        &.active {
          background-color: $bg-rosso;
          p {
            color: $txt-white;
          }
          img {
            filter: grayscale(1)  brightness(0) invert(1) ;

          }
          .triangle {
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            top: 100%;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $bg-rosso;
          }
        }
      }
    }
    &.terza {
      padding: 50px;
      .left {
        @include row-flex;
        @include flex-center;
        width: 50%;
        img {
          width: 363px;
        }
      }
      .right {
        width: 50%;
        @include column-flex;
        h1 {
          font-size: 38px;
          color: $txt-sectitles;
        }
        p {
          width: 80%;
          color: $txt-desc;
          @include font-secondary;
          margin: 30px 0;
        }
        .btn-readmore {
          @include flex-center;
          @include row-flex;
          width: 168px;
          height: 66px;
          background-color: $bg-rosso;
          color: $txt-white;
          border-radius: 33px;
        }
      }
    }
  }
  #wave-img {
    font-size: 0;
    width: 100%;
  }
}
#timeline-events {
  padding: 100px 0;
  @include row-flex;
  @include flex-center;
  margin-top: -1px;
  background-color: $bg-rosso;
  .container {
    color: $txt-white;
    .university-year{
      @include column-flex;
      @include flex-center;
      .title {
        @include column-flex;
        @include flex-center;
        img {
          width: 70px;
          filter: brightness(30%);
        }
        h1 {
          font-size: 48px;
          font-weight: 400;
        }
      }
      .timeline {
        padding: 100px 0;
        text-align: center;
        .timeline-up {
          @include row-flex;
          p {
            &:first-child {
              font-weight: 400;
              margin-bottom: 15px;
              font-size: 18px;
            }
            &:last-child {
              @include font-secondary;
            }
          }
          .left {
            @include column-flex;
            margin-left: 358px;
          }
          .right {
            @include column-flex;
            margin-left: 50px;
          }
        }
        .bar {
          img {
            margin: 20px 0;
          }
        }
        .timeline-down {
          @include row-flex;
          p {
            &:first-child {
              font-weight: 400;
              margin-bottom: 15px;
              font-size: 18px;
            }
            &:last-child {
              @include font-secondary;
            }
          }
          .left {
            @include column-flex;
            margin-left: 120px;
          }
          .right {
            @include column-flex;
            margin-left: 60px;
          }
        }
      }
    }
    .upcoming-events {
      color: $txt-white;
      @include column-flex;
      @include flex-center;
      .title {
        text-align: center;
        img {
          width: 60px;
          filter: brightness(30%);
        }
        h1 {
          font-size: 48px;
          font-weight: 400;
        }
      }
      .row {
        &.upcoming-cards {
          margin-top: 50px;
          .card {
            text-align: center;
            margin: 0 15px;
            width: calc(100% / 3);
            padding: 40px;
            background-color: $bg-white;
            border-radius: 20px;
            color: $txt-sectitles;
            position: relative;
            h2 {
              font-weight: 400;
              font-size: 28px;
            }
            p {
              @include font-secondary;
              margin: 15px 0;
              color: $txt-desc;
              i {
                font-size: 14px;
              }
            }
            .btn-card {
              @include row-flex;
              @include flex-center;
              position: absolute;
              background-color: $bg-rosso;
              border-radius: 20px;
              color: $txt-white;
              bottom: -40px;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 126px;
              height: 40px;
              font-size: 14px;
              box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;

              i {
                margin-right: 3px;
              }
              &:hover {
                background-color: $bg-btn;
              }
            }
          }
        }
      }
      .btn-courses {
        margin-top: 70px;
        text-transform: none;
      }
    }
  }

  .left, .right {
    width: 30%;
  }

}
#wave-under {
  margin-top: -1px;
    width: 100%;
  }
#latest-courses {
    .row {
    &.latest {
      @include column-flex;
      align-items: flex-start;
      padding: 30px 0;
      width: 100%;
      h1 {
        font-size: 48px;
        font-weight: 400;
        padding: 50px 0;
      }
      .courses {
        @include row-flex;
        justify-content: space-between;
        width: 100%;
        .card-course {
          position: relative;
          @include column-flex;
          @include flex-center;
          text-align: center;
          padding: 45px;
          width: calc(100% / 4);
          background-color: $bg-white;
          margin: 0 15px;
          box-shadow: rgba(0, 0, 0, 0.15) 0 0 20px 0;
          img {
            height: 70px;
            margin-bottom: 25px;
          }
          h4 {
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
          }
          p {
            font-size: 14px;
            padding: 2px 0;
            @include font-secondary;
            span {
              font-weight: bold;
            }
          }
          .btn-vcourse {
            position: absolute;
            @include row-flex;
            @include flex-center;
            width: 160px;
            height: 50px;
            border-radius: 25px;
            color: $txt-white;
            background-color: $fill-red;
            left: 50%;
            top: 100%;
            transform: translate(-50%, -50%);
            &:hover {
              color: $txt-red;
              background-color: $bg-white;
              border: 2px solid $txt-red;
            }
          }
        }
      }
    }
  }

}
#info {
  padding: 100px 0;
  h1 {
    margin-top: 30px;
    font-size: 48px;
    font-weight: 400;
  }
  p {
    margin-top: 60px;
    @include font-secondary;
    color: $txt-sectitles;
  }
  img {
    width: 500px;

  }
  .icon {
    width: 60px;
  }
  [class^="btn-"] {
    margin: 45px 0;
    @include row-flex;
    @include flex-center;
    width: 240px;
    height: 66px;
    border-radius: 33px;
    color: $txt-white;
    background-color: $fill-red;
    &:hover {
      color: $txt-red;
      background-color: $fill-white;
      border: 2px solid $fill-red;
    }
  }
  .container {
    .row {
      &.exam {
        justify-content: space-between;
        .left {
          width: 40%;

        }
        .right{

        }
      }
      &.fees {
        justify-content: space-between;
        .left {

        }
        .right {
          width: 40%;
        }
      }
    }
  }
}
#newsletter {
  background-color: $bg-rosso;
  padding: 60px 0;
  .container {
    @include row-flex;
    justify-content: space-between;
    position: relative;
    h1 {
      font-size: 35px;
      font-weight: 400;
      color: $txt-white;
    }
    input {
      width: 470px;
      height: 70px;
      border-radius: 35px;
      padding: 25px;
      outline: none;
      font-size: 20px;
    }
    button  {
      position: absolute;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      color: $txt-white;
      right: 0;
      background-color: $bg-btn;
      cursor: pointer;
      &:hover {
        background-color: $bg-white;
        color: $fill-red;
        border: 2px color $fill-red;
      }
      i {
        font-size: 20px;
      }
    }
  }

}
#partners {
  padding-bottom: 60px;
  .container {
    h1 {
      font-size: 48px;
      font-weight: 400;
      margin-bottom: 60px;
      margin-top: 60px;
    }
    p {
      text-align: center;
      @include font-secondary;
      width: 40%;
    }
    .partners {
      margin-top: 50px;
      @include row-flex;
      width: 100%;
      justify-content: space-between;
      img {
        height: 48px;
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  //.last-wave {
  //  width: 100%;
  //  height: 260px;
  //  position: relative;
  //  overflow: hidden;
  //  border: 1px solid black;
  //  #wave-3 {
  //    top: 50px;
  //    right: -350px;
  //    position: absolute;
  //    width: 140%;
  //    filter: brightness(95%);
  //    font-size: 0;
  //  }
  //}
}

