header {
  @include column-flex;
  nav {
    background-color: $bg-alpharosso;
    @include row-flex;
    font-size: 17px;
    align-items: center;
    padding: 30px 50px;
    @include row-flex;
    .logo {
      img {
        width: 270px;
      }
    }
    ul {
      @include row-flex;
      color: $txt-white;
      margin-left: auto;
      margin-right: 20px;
      li {
        list-style: none;
        margin:0 20px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: $txt-hover;
        }
        &:hover .menu-window {
          @include column-flex;
        }
        i.fa-caret-down {
          padding-left: 5px;
          font-size: 12px;
        }
        .menu-window {
          display: none;
          background-color: $bg-ddwhite;
          position: absolute;
          border-radius: 10px;
          ul {
            @include column-flex;
            padding: 15px 0;
            white-space:nowrap;
            li {
              width: 100%;
              font-size: 15px;
              display: inline;
              list-style: none;
              padding: 15px;
              a {
                color: $txt-menu;
                text-decoration: none;
                &:hover {
                  color: $txt-red;
                  background-color: $bg-white;
                }
              }
            }
          }
        }
      }
    }
    .btn-courses {
      text-align: center;
      color: $txt-white;
      border-radius: 30px;
      text-transform: uppercase;
      background-color: $bg-btn;
      width: 220px;
      height: 60px;
      line-height: 60px;
      &:hover {
        color: $txt-red;
        background-color: $bg-white;
      }
    }
  }
  .jumbo {
    background-color: $bg-alpharosso;
  }
  .wave {
    font-size: 0;
    img {
      background-color: $bg-alpharosso;
    }
  }
}
