header {
  @include column-flex;
  //NAV LINKS
  nav {
    background-color: $bg-alpharosso;
    @include row-flex;
    font-size: 17px;
    align-items: center;
    padding: 30px 50px;
    @include row-flex;
    .logo {
      img {
        width: 270px;
      }
    }
    ul {
      @include row-flex;
      color: $txt-white;
      margin-left: auto;
      margin-right: 20px;
      li {
        list-style: none;
        margin:0 20px;
        position: relative;
        cursor: pointer;
        &:hover {
          color: $txt-hover;
        }
        &:hover .menu-window {
          @include column-flex;
        }
        i.fa-caret-down {
          padding-left: 5px;
          font-size: 12px;
        }
        .menu-window {
          display: none;
          background-color: $bg-ddwhite;
          position: absolute;
          z-index: 50;
          border-radius: 10px;
          animation-name: menu-wind;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
          animation-timing-function: ease-in-out;
          ul {
            @include column-flex;
            padding: 15px 0;
            white-space:nowrap;
            li {
              width: 100%;
              font-size: 15px;
              display: inline;
              list-style: none;
              padding: 15px;
              a {
                color: $txt-menu;
                text-decoration: none;
                &:hover {
                  color: $txt-red;
                  background-color: $bg-white;
                }
              }
            }
          }
        }
      }
    }
  }
  @keyframes menu-wind {
    from {margin-top: 50px;}
    to {margin-top: 0}
  }
  //JUMBO
  .jumbo {
    background-color: $bg-alpharosso;
    color: $txt-white;
    @include row-flex;
    @include flex-center;
    padding: 100px 0;
    .container {
      text-align: center;
      animation-name: jumbo;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      .titolo {
        h1 {
          font-size: 60px;
          margin-bottom: 20px;
        }
      }
      .sottotitolo {
        width: 50%;
        p {
            @include font-secondary;
            font-size: 22px;
            margin: 20px 0;
          }
      }
      .bottoni {
        font-size: 16px;
        @include row-flex;
        @include flex-center;
        margin-top: 20px;
        [class^="btn-"] {
          text-transform: none;
        }
        .btn-apply {
          margin-left: 40px;
          background-color: $bg-white;
          color: $txt-red;
        &:hover {
          background-color: $bg-btn;
          color: $txt-white;
        }
        }
      }
    }
  }
  @keyframes jumbo {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .wave {
    font-size: 0;
    img {
      width: 100%;
      background-color: $bg-alpharosso;
    }
  }
}
