//Background colors
$bg-white: #FFFFFF;
$bg-alphawhite: #FFFFFF80;
$bg-dwhite: #FAFAFA;
$bg-ddwhite: #F7F8FA;
$bg-btn: #E9D758;
$bg-rosso: #E56768;
$bg-alpharosso: #DA5F60E6;
$bg-dgray: #454545;
$bg-dblue: #3D404F;
$bg-black: #000000;
$bg-alphablack: #000000CC;
//Text colors
$txt-white: #FFFFFF;
$txt-alphawhite: #FFFFFFCC;
$txt-hover: #E9D758;
$txt-green: #79B530;
$txt-red: #E56768;
$txt-menu: #5c5e6c;
$txt-desc: #8B8B8A;
$txt-sectitles: #434959;
//Fill colors
$fill-white: #FFFFFF;
$fill-lgreen: #69DE89;
$fill-green: #82b541;
$fill-red: #E56768;
$fill-black: #000000;

$card-border: #EAEAEA;
